body {
 background-image: url("new.png");
}
.large {
    font-size: 90px;
}
.toolbar{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#medium {
    font-size: 50px;
}

#large {
    text-align: center;
}
.large {
    color: red
}

h2 {
    color:blue;
}
h3 {
    color: green;
}
h4,h5 {
    color:purple
}
.large {
    font-size: 90px;
    text-align: center;
}
img {
    height: 300px;
    width: 200px;
}
.container {
    display: flex;
}
* {
    box-sizing: border-box;
}
.toolbar {
    color: grey;
    font-size: 70px;
    text-align: center;
    padding:20px;
    flex: 1;
}
.box1 {
    background: blueviolet;
}

.box2 {
    background: yellowgreen;
}

.box3 {
    background: beige;
}
.box4 {
    background: grey
}
.toolbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.toolbar .container{
    background-size: 60px
}

