@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
* {
    box-sizing: border-box;
    padding: 15px;
    margin: 0px;
}

body {
 background-image: url("new.png");
}
.large, h1 {
    font-size: 60px;
    color: red;
    text-align: center;
}
.toolbar{
    font-size: 30px;
    color: whitesmoke;  
    text-align: center;
    flex: 1;
    font-family: 'DM Serif Display', serif;
}
.container {
    position: center;
    text-align: center;
    color: black;
}
p, ul, li {
    font-size: 25px;
    color: black
}

h2 {
    color:blue;
    font-size: 40px;
}
h3 {
    color: green;
    font-size: 30px;
}
 
.container {
    display: flex;
}

.box1 {
    background: blueviolet;
}
.box2 {
    background: yellowgreen;
}
.box3 {
    background: beige;
}
.box4 {
    background: grey;
}
.box5 {
    background: orangered;
}
.box6 {
    background: whitesmoke;
}

img {
    width: 35%;
    height: 35%;
}

.boxed {
    width: 100%;
    height: auto ;
    border: 15px solid green;
    padding: 10px;
    margin: 10px;
}
.para {
    font-size: 30px;
}
