body {
 background-image: url("new.png");
}
.large {
    font-size: 90px;
}
.toolbar{
    font-size: 30px;
    text-align: center;
}
#medium {
    font-size: 50px;
}

#large {
    text-align: center;
}
.large {
    color: red
}

h2 {
    color:blue;
}
h3 {
    color: green;
}
h4,h5 {
    color:purple
}
.large {
    font-size: 90px;
    text-align: center;
}
img {
    height: 300px;
    width: 300px;
}

  

